<div class="container text-center">
    <h1 class="page-header">Fitting</h1>
    <br>
    <p>Our fitter Darren has well over twenty years of professional fitting experience and has worked with all kinds of cyclists- from Iron Man triathletes to long-distance tourers, to folks that just want to be comfortable on leisurely spins down the Rio Grande Trail.</p>
    <br>
    <p>With our Calfee Size Cycle, we can punch in a bikes geometry to determine your frame size and fit on a new bike. We can also adjust the fit on your current ride.</p>
    <br>
    <p>Fittings are $100 an hour, pro-rated every 15 minutes. Fits are guaranteed and include follow up adjustments.</p>
    <br>
    <p>Give us a call to set up an appointment!</p>
    <br>
    <p>970.963.2500</p>
    <br>
    <div class="row">
        <div class="container">
            <div class="fit-row">
                <div class="fit-column">
                    <%= image_tag('plthumb_step1.jpg') %>
                </div>
                <div class="fit-column">
                    <%= image_tag('plthumb_step2.jpg') %>
                </div>
                <div class="fit-column">
                    <%= image_tag('plthumb_step3.jpg') %>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>