        <div class="container">
                <div class="text-center">
                    <div class="homepage">
                        <p class="homepage-text">Nestled at 6200 feet in the Roaring Fork Valley of central Colorado, Carbondale is home to two incredible trail systems, awesome restaurants and breweries, and the locals choice bike shop, Aloha Mountain Cyclery.  It is because of our location, with the miles of singletrack , as well as gravel roads and bike paths, that we are able to build and sell bikes that are perfect for any environment and riding style.  As experienced mechanics and fitters, we know that if your bike fits and runs perfect, you will love riding it.  That is our job, to insure that you love your bike, and we love our job.</p>
                    </div>
                </div>
        </div>