<div class="content-area">
    <main>
    <section class="middle-area">
        <div class="container">
                <div class="homepage-template">

                    <article>
                        <body>
                            <p></p>
                        </body>
                    </article>

            </div>
        </div>
    </section>
    </main>
    </div>