<div class="row">
    <div class="well">
        <div class="text-center">
            <h1 class="page-header">Contact</h1>
                <br>
            <h1>Aloha Mountain Cyclery</h1>
            <h2>Physical & Shipping Address</h2>
                <br>
            <h3>580 Colorado 133</h3>
            <h3>Carbondale, CO 81623-1645</h3>
                <br>
            <h3>970-963-2500 phone</h3>
            <h3>alohamtncyclery@yahoo.com</h3>
                <br>
            <h2>Shop Hours</h2>

            <h3>Monday – Friday – 10am – 7pm</h3>
            <h3>Saturday – 10am – 5pm</h3>

            <h4>Sunday – Closed</h4>
        </div>
    </div>
    <div class="contact-img">
        <%= image_tag ("contact.jpg"), class:"contact-img" %>
    </div>
</div>