 <div class="container">
            <div class="footer align">
                <div class="row">
                    <nav class="main-menu col-md-12">
                        <ul class="nav justify-content-center footer">
                        <li class="nav-item">
                            <a class="nav-link active" href="/bikes">Bikes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bikes">Demos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rentals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fitting">Fitting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Da Crüe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
</div>